clone_depth: 1

init:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - SET PYTHONIOENCODING=utf-8

environment:

  matrix:

    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.7"
      PYTHON_ARCH: "64"

platform: x64

install:
  - python -m pip install --upgrade pip
  - pip install markdown pelican

build_script:
  - pelican content -s pelicanconf.py --debug --fatal warnings